<div id="mastermind">
  <app-color-picker (colorSelect)="onColorSelect($event)"></app-color-picker>
  
  <div id="board">
    <app-attempt *ngFor="let x of [].constructor(numberOfAttempts); let attempt = index;"
      [isCurrentAttempt]="currentAttempt === attempt"
      [isPreviousAttempt]="currentAttempt > attempt"
      [colorBeingHeld]="colorBeingHeld"
      [secretSequence]="secretSequence"
      [gameEnded]="gameEnded"

      (onAttemptChanged)="this.allAttempts[attempt] = $event"
    >
    </app-attempt>

    <div class="secret-sequence">
      <div [class.hidden-color]="!gameEnded" class="ski-color-circle" *ngFor="let color of secretSequence" [style.background-color]="color">
        {{gameEnded ? '' : '?'}}
      </div>
    </div>
  </div>
  
  <div id="controls">
    <button class="ski-btn" (click)="onVerifySequenceClick()">Verificar Sequência</button>
    <button class="ski-btn" (click)="restartGame()">Reiniciar Jogo</button>
  </div>
</div>

