#color-picker {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  border: solid 3px var(--primary-color);
  
  row-gap: 1rem;
  padding: 1.5rem 1rem;

  .selectable-color {
    height: var(--color-size);
    width: var(--color-size);
    border-radius: 100px;
    cursor: pointer;

    &.selected-color {
      border: solid 3px var(--primary-color);
    }
  }
}