.app-container {
  background-color: var(--body-background);
  min-height: 100svh;

  display: flex;
  justify-content: center;

  padding-top: 2rem;
  padding-bottom: 1.5rem;

  main {
    display: flex;
    flex-direction: column;

    h1 {
      text-align: center;
    }

    app-credits {
      margin-top: auto;
    }
  }
}

#mastermind {
  width: 26rem;
  position: relative;

  margin-top: 2rem;
  margin-bottom: 4.5rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem 1fr 6rem;
  column-gap: 1.4rem;
  row-gap: 0.5rem;

  grid-template-areas: 
    "controls"
    "board"
    "secret-sequence";

  app-color-picker {
    position: absolute;
    left: -3rem;
    top: 2.5rem;
  }

  #controls {
    grid-area: controls;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  #board {
    grid-area: board;
    height: auto;
    padding: 0.5rem;
    background-color: var(--component-background);
    border-radius: var(--border-radius);
    overflow: auto;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    > * {
      flex-grow: 1;
    }

    /* Scrollbar styles */
    &::-webkit-scrollbar {
      width: 0px;
      background: var(--gray);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--dark-gray);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  .secret-sequence {
    background-color: var(--component-background);
    grid-area: secret-sequence;
    min-height: 7rem;
    padding: 0.5rem;
    display: flex;

    .secret-colors {
      display: flex;
      justify-content: space-around;
      align-items: center;
      border: solid 2px var(--white);
      height: 6rem;
      flex-grow: 1;

      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--primary-color);
        font-size: 12px;      
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100px;
  
        &.hidden-color {
          background-color: unset !important;
          border: solid 2px var(--white);
        }
      }
    }

    .secret-results-placeholder {
      width: 5.6rem;
      height: 5.6rem;
    }
  }
}

@media (max-width: 768px) {
  #mastermind {
    max-width: 75vw;

    app-color-picker {
      left: -3.5rem;
    }
  }
}