<div id="main-container">
  <div id="header-extension"></div>

  <main>
    <header>
      <div id="header-left-side">
        <div id="site-title-container">
          <h1 id="site-title">{{siteTitle}}</h1>
          <span id="site-subtitle">{{siteSubtitle}}</span>
        </div>
      </div>
      <div id="header-right-side">
        <div id="header-links" class="links">
          <a *ngFor="let link of externalLinks" target="_blank" [title]="link.title" [href]="link.href">
            <i [class]="link.iconClass"></i>
          </a>
        </div>
      </div>
    </header>

    <div id="content">
      <app-mastermind></app-mastermind>
      <span><i>{{creditsText}}</i></span> 
    </div>

    <footer>
      <span><i>{{creditsText}}</i></span> 
      <div id="footer-links" class="links">
        <a *ngFor="let link of externalLinks" target="_blank" [title]="link.title" [href]="link.href">
          <i [class]="link.iconClass"></i>
        </a>
      </div>
    </footer>
  </main>
</div>